.Header {
    text-align: center;
    margin: 0; /* Ensures there's no extra space */
    padding: 0; 
    color: white;
    font-family: 'Times New Roman', Times, serif;
    }
    
    .Header h1 {
    font-size: 48px; /* Make the font size bigger, adjust as needed */
    }
    
    .Subtitle {
    margin-top: 5px; /* Reduce space between title and subtitle */
    margin-bottom: 5px; /* Reduce space between subtitle and next element */
    color: white;
    font-family: 'Times New Roman', Times, serif;
    }